<!DOCTYPE html>
<html lang="pt-br"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
</head>
<body>
	<div class="content-wrapper" layout:fragment="corpo">
		<!-- Content Header (Page header) -->
		<div class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1 class="m-0 text-dark">Clientes</h1>
					</div><!-- /.col -->
					<div class="col-sm-6">
						<ol class="breadcrumb float-sm-right">
							<li class="breadcrumb-item"><a href="#">Vendas</a></li>
							<li class="breadcrumb-item active">Cadastro de Clientes</li>
						</ol>
					</div><!-- /.col -->
				</div><!-- /.row -->
			</div><!-- /.container-fluid -->
		</div>
		<!-- /.content-header -->

		<!-- Main content -->
		<div class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<div class="card card-default">
							<div class="card-header">
								<h3 class="card-title">Cadastro de Endereço de Entrega</h3>

							</div>
							<div class="card-body">
								<div class="row">
									<div class="col-md-12">
											<small class="help-block text-red">Campos com (*) são obrigatórios</small>
											<div th:replace="fragments/alert"></div>
											<div class="row">
												<div class="form-group col-md-1">
													<label for="codcli">Código <small class="text-red">*</small></label>
													<input type="text" class="form-control cpf" id="codcli" name="codcli" required="required">
												</div>
												<div class="form-group col-md-4">
													<label for="nome">Cliente <small class="text-red">*</small></label>
													<input type="text" class="form-control" id="nome" name="nome" disabled>
												</div>
											</div>
										<form th:action="@{/vendas/enderecoentrega/salvar}" th:object="${endereco}" method="POST">
											<input type="hidden" id="codigoCliente" name="codigoCliente">
											<div class="row">
												<div class="form-group col-md-7">
													<label for="pontoReferencia">Referência<small class="text-red">*</small></label>
													<input type="text" class="form-control" maxlength="80" id="pontoReferencia" name="pontoReferencia" required="required">
												</div>
											</div>
											<div class="row">
												<div class="form-group col-md-2">
													<label for="cep">Cep <small class="text-red">*</small></label>
													<input type="text" class="form-control cep" id="cep" name="cep" placeholder="Ex.: 67000000" data-inputmask='"mask": "99999999"' data-mask  required="required">
													<button type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#modal-buscacep2"><i class="fas fa-search"></i> Buscar CEP</button>
												</div>
												<div class="form-group col-md-2">
													<label for="numero">Número <small class="text-red">*</small></label>
													<input type="text" class="form-control" maxlength="6" id="numero" name="numero" placeholder="Ex.: 123" required="required">
												</div>
												<div class="form-group col-md-4">
													<label for="logradouro">Endereço <small class="text-red">*</small></label>
													<input type="text" class="form-control" maxlength="40" id="logradouro" name="logradouro" placeholder="Ex.: Avenida Almirante Barrosso" required="required">
												</div>
												<div class="form-group col-md-4">
													<label for="complemento">Complemento <small class="text-red">*</small></label>
													<input type="text" class="form-control" maxlength="60" id="complemento" name="complemento" placeholder="Ex.: Edificio Almirante" required="required">
												</div>
												<div class="form-group col-md-3">
													<label for="bairro">Bairro <small class="text-red">*</small></label>
													<input type="text" class="form-control" maxlength="40" id="bairro" name="bairro" placeholder="Ex.: Marco" required="required" >
												</div>
												<div class="form-group col-md-1">
													<label for="uf">Estado <small class="text-red">*</small></label>
													<input type="text" class="form-control" maxlength="2" id="uf" name="uf" placeholder="Ex.: PA" required="required">
												</div>
												<div class="form-group col-md-3">
													<label for="municipio">Cidade <small class="text-red">*</small></label>
													<input type="text" class="form-control" maxlength="15" id="municipio" name="municipio" placeholder="Ex.: Belém"  required="required">
													<input type="hidden" id="codigoMunicipio" name="codigoMunicipio">
												</div>
												<div class="form-group col-md-3">
													<label for="codigoCidade">Cidade IBGE <small class="text-red">*</small></label>
													<select class="select2 form-control" id="codigoCidade" name="codigoCidade" data-placeholder="Selecione a Cidade" style="width: 100%;" required="required">
														<option>Selecione Cidade Ibge</option>
														<option th:each="cidade : ${cidades}" th:value="${cidade.id}" th:text="${cidade.nomeCidade + '(' + cidade.uf + ')'}">Alabama</option>
													</select>
												</div>
												<div class="form-group col-md-2">
													<label for="codigoPraca">Praça <small class="text-red">*</small></label>
													<select class="select2 form-control" id="codigoPraca" name="codigoPraca" data-placeholder="Selecione a Praça" style="width: 100%;" required="required">
														<option>Selecione a praça</option>
														<option th:each="praca : ${pracas}" th:value="${praca.id}" th:text="${praca.praca}">Alabama</option>
													</select>
												</div>
											</div>
											<div class="card-footer">
												<a th:href="@{/vendas/enderecoentrega}" class="btn btn-info text-white"><i class="fas fa-step-backward"></i> Voltar</a>
												<button type="submit" class="btn btn-success float-right"><i class="fas fa-save"></i> Salvar</button>
											</div>
										</form>

									</div>
									<!-- /.col -->
								</div>
							</div>
							<!-- /.card-body -->
						</div>
						</div>
						<!-- /.card -->
					</div>

				</div>
				<!-- /.row -->
			</div>
			<!-- /.container-fluid -->
		</div>
		<!-- /.content -->
	</div>
	<!-- /.content-wrapper -->
</body>
</html>